<h1>Crud operation</h1>
<form action="/newpost" method="post">
<dl>
	<dt>Name</dt>
	<dd><input type="text" name="uname" /></dd>
	<dt>Age</dt>
	<dd><input type="text" name="age" /></dd>
	<dd><p><input type="submit" name="submit" /></p></dd>
</dl>
</form>